<%- include('../partials/header') %>
<link rel="stylesheet" href="mystyle.css">
<table id="list">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        
        </tr>
    </thead>
    <tbody table style="text-align: center;">
      
        <% books.forEach(function(b) { %>
            <tr>
            <td><%= b.title %></td>
            
            <td><a href="/books/<%= b._id %>">Details</a></td>
            </tr>
        <% }); %>
    </tbody>

</table>
  
<%- include('../partials/footer') %>